* {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    font-family: "Inconsolata", 'Space Mono', Courier, monospace;
    background-color: #f0f0f0;
    color: #333333;
    font-size: medium;
}

h4 {
    color:#cc6600;
    font-family: "Karla", "Insonsolata", "Space Mono";
}
#gameEnd {
    font-size: xx-large;
}

/* animating text with typewriter effect */
.text {
    display: inline-block;
    overflow: visible;
}
.textanimate {
    border-right: 1px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(20),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% { border-color: transparent; }
}
@keyframes typing {
    from { width: 0; }
}

/* formatting for most of the buttons */
.button {
    color: #333333;
    padding: 15px 15px;
    border-radius: 4px;
    border: 2px solid #cc6600;
    transition-duration: 0.4s;
    text-align: center;
    font-family: "Karla", 'Courier New', Courier, monospace;
}
.button:hover {
    background-color: #cc6600;
}

/* table formatting */
table, th, td {
    border: 1px solid;
    border-color: black;
    padding: 4px;
    text-align: center;
}
td:hover {
    background-color: #cc6600;
}

/* this is where the image is displayed */
#box {
    width: 400px;
    height: 200px;
}

/* formatting for the popup instructions button */
.popupButton {
    color: #333333;
    padding: 10px 10px;
    border-radius: 2px;
    border: 2px solid #333333;
    transition-duration: 0.4s;
    text-align: center;
    font-family: "Karla", 'Courier New', Courier, monospace;
}
.popupButton:hover {
    background-color: #fff;
}
/* popup content formatting */
#popup {
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    background-color: #fff;
    padding: 0px 10px 10px;
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
}

/* using css grid to structure the page. has 6 sections within the parent: instructions, header, side1, side2, game, and footer */
.parent {
    display: grid;
    grid-template-columns: 0.5fr 300px repeat(3, 1fr) 300px 0.5fr;
    grid-template-rows: 100px 100px repeat(2, 1fr) 100px repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    #instructions { grid-area: 2 / 3 / 7 / 6; }

    .header { grid-area: 2 / 3 / 3 / 6; }
    
    .side1 { grid-area: 3 / 2 / 4 / 3; }

    .side2 { grid-area: 3 / 6 / 4 / 7; }
    
    .game { grid-area: 3 / 3 / 6 / 6; }
    
    .footer { grid-area: 5 / 3 / 6 / 6; }
