.button {
    color: black;
    padding: 15px 15px;
    border-radius: 4px;
    border: 3px solid #F09C89;
    transition-duration: 0.4s;
    text-align: center;
}
.button:hover {
    background-color: #F09C89;
}

#game {
    text-align: center;
}

table, th, td {
    border: 1px solid;
    border-color: black;
    padding: 5px;
    text-align: center;
}

td:hover {
    background-color: #F09C89;
}

#box {
    border: 5px solid #F09C89;
    align-self: center;
    width: 400px;
    height: 200px;
}
