body {
    font-family: "Inconsolata", 'Space Mono', Courier, monospace;
    background-color: #f0f0f0;
    color: #333333;
    font-size: small;
}

h4 {
    color:#cc6600;
    font-family: "Karla", "Insonsolata", "Space Mono";
}

.button {
    color: #333333;
    padding: 15px 15px;
    border-radius: 4px;
    border: 2px solid #cc6600;
    transition-duration: 0.4s;
    text-align: center;
    font-family: "Karla", 'Courier New', Courier, monospace;
}
.button:hover {
    background-color: #cc6600;
}

.popupButton {
    color: #333333;
    padding: 10px 10px;
    border-radius: 2px;
    border: 2px solid #333333;
    transition-duration: 0.4s;
    text-align: center;
    font-family: "Karla", 'Courier New', Courier, monospace;
}
.popupButton:hover {
    background-color: #fff;
}

table, th, td {
    border: 1px solid;
    border-color: black;
    padding: 5px;
    text-align: center;
}

td:hover {
    background-color: #cc6600;
}

#box {
    border: 0px solid #cc6600;
    align-self: center;
    width: 400px;
    height: 200px;
}

#popup {
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    background: #fff;
    padding: 0px 10px 10px;
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
}


.parent {
    display: grid;
    grid-template-columns: 1fr 1.5fr repeat(3, 1fr) 1.5fr 1fr;
    grid-template-rows: 100px 50px repeat(3, 1fr) 10px 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .parent >* {
        border: 0px solid #000000;
        text-align: center;
    }

    #instructions { grid-area: 2 / 3 / 7 / 6; }



    .header { grid-area: 2 / 3 / 3 / 6; }
    .side1 { 
        grid-area: 4 / 2 / 5 / 3;
    }
    .side2 { grid-area: 4 / 6 / 5 / 7; }
    .game { 
        grid-area: 3 / 3 / 6 / 6;
    }
    .footer { 
        grid-area: 6 / 3 / 7 / 6; 
    }
